<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-item slot="end" lines="none">
      <ion-icon name="menu" (click)="openSideMenu()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" [ngClass]="'side-menu'">
  <ion-header>
    <ion-toolbar>
      <ion-title>Start Menu</ion-title>
      <ion-item slot="end" lines="none">
        <ion-icon name="close" (click)="closeSideMenu()"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-content padding>


</ion-content>
