<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-item slot="end" lines="none">
      <ion-icon name="menu" (click)="openSideMenu()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" [ngClass]="'side-menu'">
  <ion-header>
    <ion-toolbar>
      <ion-title>Gadgets</ion-title>
      <ion-item slot="end" lines="none">
        <ion-icon name="close" (click)="closeSideMenu()"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goCalculator()">
        <ion-icon name="calculator" slot="start"></ion-icon>
        <ion-label>Calculator</ion-label>
      </ion-item>
      <ion-item (click)="goStopWatch()">
        <ion-icon name="stopwatch" slot="start"></ion-icon>
        <ion-label>Stop Watch</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Calender</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="cloud" slot="start"></ion-icon>
        <ion-label>Weather</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-content padding>
<ion-item>
  <ion-label>SearchBar</ion-label>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-item>

  <ion-tabs>

    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goMusic()">
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>Music</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goYouTube()">
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-label>You Tube</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>


